Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
.dirstamp
*.lo
*.la
stamp-*
*.o
src/budgie-media-player
*.gschema.valid
